pronto==2.2.0
elasticsearch==7.11.0
elasticsearch-dsl==7.3.0
Flask==1.1.2
waitress==1.4.4
intervaltree==3.1.0
pyahocorasick==1.4.1
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz#egg=en_core_web_lg
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
